@import "../variables/variables.scss";

.layout-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: fit-content;
  background-color: $secondaryBg;

  main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 32px;
  }
}

@media (max-width: 600px) {
  .layout-container {
    grid-template-columns: 80px 1fr;
  }
}
