@import "../variables/variables.scss";

.layout-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
  background-color: $secondaryBg;

  main {
    width: 100%;
    padding: 32px;
    max-width: 1160px;
    margin: 0 auto;
  }
}
