@import "../variables//variables.scss";
@import "../mixins/mixin.scss";
.savingplan-card {
  grid-area: item2;
  max-width: 347px;

  @include cardStyle;
  .divider {
    @include dividerStyle;
  }

  .savingplan-header {
    @include cardHeader;
    .title {
      @include cardTitle;
    }
    span {
      color: $purpleColor;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .savingplan-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content {
      padding: 8px;

      .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        p {
          font-weight: 500;
        }
        span {
          font-size: 12px;
          color: #0d163a60;
        }
      }

      .target-percent {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;

        .saved-amt {
          font-size: 20px;
          font-weight: 600;
        }
        .total-amt {
          font-weight: 600;
          font-size: 12px;
          color: #0d163a50;
        }

        // Dynamic styling is necesary here
        .saved-percent {
          font-weight: 600;
          font-size: 18px;
        }
      }

      .progress-container {
        height: 8px;
        background-color: #dedede;
        border-radius: 5px;

        .progress-bar {
          border-radius: 5px;
          height: 100%;
          width: 0%;
          transition: width 1s ease-out;
        }
      }
    }

    .bali {
      @include progressPercent(48%, $purpleColor);
    }
    .saved-percent-bali {
      color: $purpleColor;
    }
    .gadget {
      @include progressPercent(79%, $activeNavIconColor);
    }
    .saved-percent-gadget {
      color: #dd9802;
    }
    .charity {
      @include progressPercent(32%, #3bbb6e);
    }
    .saved-percent-charity {
      color: #3bbb6e;
    }
  }
}

@media (max-width: 950px) {
  .savingplan-card {
    max-width: 100%;
  }
}
@media (max-width: 400px), (min-width: 1088px) and (max-width: 1250px) {
  .content-header {
    flex-direction: column;
  }
}
