@import "../variables//variables.scss";
@import "../mixins/mixin.scss";
.transaction-card {
  grid-area: item4;
  max-width: 347px;

  @include cardStyle;
  .divider {
    @include dividerStyle;
  }

  .transaction-header {
    @include cardHeader;
    .title {
      @include cardTitle;
    }

    span {
      color: $purpleColor;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .transaction-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.75px;

      .logo-title-date {
        display: flex;

        .title-date > p {
          font-weight: 600;
          font-size: 18px;
        }

        .title-date > span {
          font-size: 12px;
          color: #0d163a50;
          font-weight: 600;
        }
      }

      .logo {
        width: 48px;
        height: 48px;
        background-color: #00000020;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
      }

      .amount-status {
        font-weight: 600;

        p {
          font-size: 18px;
        }
        span {
          font-size: 12px;
          color: #3bbb6e;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .transaction-card {
    max-width: 100%;
  }
}
@media (max-width: 400px), (min-width: 1088px) and (max-width: 1250px) {
  .transaction-header {
    flex-direction: column;
    gap: 5px;
  }
}
