.dashboard-header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 717px 347px;
  grid-template-rows: 430px 402px;
  gap: 32px;
  margin-top: 32px;
  // padding-bottom: 32px;
}
