.dashboard-header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 0.674fr 0.326fr;
  grid-template-rows: minmax(430px, auto) minmax(402px, auto);
  grid-template-areas:
    "item1 item2"
    "item3 item4";
  gap: 32px;
  margin-top: 32px;
}
