// COLORS

// Background color
$primaryBg: #ffffff;
$secondaryBg: #f7f7fb;
$iconBg: #d9d9d9;

// Text color
$activeNavIconColor: #f9ba33;
$primaryTextColor: #0d163a;

// Border color
$borderColor: #dedede;

$purpleColor: #4745a4;
