@import "../variables/variables.scss";

@mixin contentContainer {
  border-radius: 100px;
  background-color: $primaryBg;
}

@mixin progressPercent($width, $color) {
  background-color: $color;
  width: $width;
}

@mixin progressAnimation {
}

@mixin btnAnimation {
  background-color: $borderColor;
  color: #fff;
  transform: scale(1.1);
}
