@import "../variables/variables.scss";

@mixin contentContainer {
  border-radius: 100px;
  background-color: $primaryBg;
}

@mixin progressPercent($width, $color) {
  background-color: $color;
  width: $width;
}
